{% extends "base.html" %}


{% block title %}<h2>Oxford Experience Documents</h2>{% endblock %}
{% block content %}
<p>Go to <a href="{% url docs %}">Document List</a></br></br>
<a href="{% url doc_xml doc.id  %}">View</a>
 or <a href="{% url doc_down doc.id %}">Download</a>
 the TEI xml code for this page</a>
<!--a href="">View image of page</a></br--></p>

{% if div %}
    {{ body|safe }}
{% else %}
    <p>Nothing found</p>
{% endif %}

<!--pre>{{doc.body.serializeDocument}}</pre-->

{% endblock %}